body {
  margin: 0;
}

.btn {
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #aaa;
  }
  
  .btn:active {
    background-color: #888;
  }

a {
  text-decoration: none ;
  color: #5E78D4;
}

